@font-face {
    font-family: 'exo';
    src: url('../assets/fonts/exo2.0-thin.woff2') format('woff2'),
         url('../assets/fonts/exo2.0-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}