.header__title {
    margin: 0;
    padding-top: 3.6rem;
    padding-bottom: 2.2rem;
    color: #ffffff;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 4.4rem;
    font-family: 'exo';
    text-shadow: 0px 1px 1px #000000;
    @media screen and (max-width: 1166px) {
        text-align: center;
    }
}