.pack-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 32rem;
    @media screen and (max-width: 350px) {
        max-width: 30rem;
    }
}
.pack-wrapper:hover{
    .food-pack__substrate{
        background-color: #2ea8e6;
}
    .weight-label{
        background-color: #2ea8e6;
    }
}